<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{# templates/emails/registration.html.twig #}


<h3>Hi You did it! You registered!</h3>

Hi You're successfully registered.

To valid, go to: <a href="http://localhost:8000/api/user/valid-code?token={{ code }}&mail={{ mail }}" >Valid</a>.

Thanks!


</body>
</html>