<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{# templates/emails/registration.html.twig #}


<h3> Get Your Password </h3>

En réponse à votre demande, voici un lien qui vous permet de choisir un nouveau mot de passe!.

To login, go to: <a href="http://localhost:4200/forgetpassword?mail={{ code }}">Login</a>.


Thanks!


</body>
</html>